parameters:
	level: 9
	paths:
		- src/
		- tests/
	inferPrivatePropertyTypeFromConstructor: true
	bootstrapFiles:
		- vendor/autoload.php

#	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Match arm comparison between .* and .* is always (true|false)\.#'
