name: Build

on:
  pull_request: ~
  push: ~

permissions:
  contents: read

jobs:
  phpstan:
    runs-on: ubuntu-24.04
    name: PHPStan
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          coverage: "none"
          php-version: '8.4'
      - run: composer update --no-interaction --no-progress --ansi
      - run: vendor/bin/phpstan analyse -c phpstan.dist.neon --error-format=github

  tests:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - description: 'Symfony 6.4'
            php: '8.2'
            symfony: '6.4'
          - description: 'Symfony 7.4'
            php: '8.5'
            symfony: '7.4'
          - description: 'Symfony 8.0'
            php: '8.5'
            symfony: '8.0'

    name: PHP ${{ matrix.php }} tests (${{ matrix.description }})
    continue-on-error: ${{ matrix.continue-on-error || false }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Cache
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache/files
          key: ${{ matrix.php }}-${{ matrix.symfony }}-${{ matrix.composer_option }}
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
      - run: |
          sed -ri 's/"symfony\/(.+)": "(.+)"/"symfony\/\1": "'${{ matrix.symfony }}'"/' composer.json;
        if: contains(matrix.symfony, '-dev')
      - run: composer config minimum-stability dev
      - run: composer config prefer-stable true
        if: matrix.symfony
      - run: composer update --no-interaction --no-progress --ansi ${{ matrix.composer_option }}
      - run: composer test
